h1{
	font-family: 'Satisfy', cursive;
}


main ul li{
	text-decoration: square;
}

ul{
	display: inline-flex;
	margin-left: 23.4em;
}

h2{
	font-family: 'Satisfy', cursive;
	font-weight: bold;
}

li{
	font-size: 30px;
	font-family: 'Satisfy', cursive;
	font-weight: bold;
	margin-left: 0.6em;
	margin-right: 1em;

}

li:hover{
	transition: 0.3s;
	color: red;
}

a:hover{
	transition: 0.3s;
	color:green;
}

body{
	background-image: url('../images/fondo1.jpg');
}